{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'sketchy.css' %}">
    <title>Escape game</title>
  </head>
  <body>
    <body>
        <h1>Welcome traveler</h1>
        <div class="row">
            <div class="col-md-6">
                <p id="txt1">What is your name?</p>
            </div>
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" id="plName" name="plName">
                    <input type="submit" value="Enter" id="submit" name="submit">
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>