{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'sketchy.css' %}">
    <title>{{ thePlayer.plName }}</title>
  </head>
    <body style="background-color: darkgray;">
        <h1>Thank you {{ thePlayer.plName }}</h1>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <p id="txt2">There is a dog and a cat. Which one will you follow?</p>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-md-6">
                <a href="dog.html">
                    <button type="submit"id="btn2">Dog</button>
                </a>
            </div>
            <div class="col-md-6">
                <a href="cat.html">
                    <button type="submit"id="btn3">Cat</button>
                </a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>